@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --linkbackground: #4710be;
}
a {
  color: var(--linkbackground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.flexbox {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.headerimg {
  width: 20%;
  margin:auto;
}
